/*feuille de style du cours 101*/

body {
	margin:0;
	font-family: Verdana, Arial, sans-serif; /*police et famille de police*/
	font-size: 14px; 
	line-height:140%; /* esdpace interligne, hauteur des lignes*/
	color:#333;
	background-color:#eee;
	background-image: url(../images/bg-body2.jpg)
	
}
div#container{
	
	margin:0 auto;
}
header {
	background-color:#000; /*noir*/
	color:#fff; /*blanc*/
}
footer{
	background-color: grey;
	color:#fff;
}
section{
	
}
article{
	padding:  16px;
	margin:8px;
}

/*Titres*/
h1 {
	line-height:100px;
	margin:0;
	

	background-repeat: no-repeat;
	padding-left:100px;
	background-position: 16px 20px;
	/*background:#000 url(../images/logo-html5.png) no-repeat 16px 20px; cette ligne correspond au 3 lignes du dessus*/
}
h2{
	margin:0;
}
span{

}

/*COLONNES*/
footer.flex-container {
	display:flex
}
.col3{
	width:33.33%; /*largeur 1/3 */
	
	margin:8px;
	padding:8px;
}
figure img{
margin:0 auto;


}
figcaption{
	font-style: italic;
	color:black;
}
